#formc {
    width: 100vw;
    height: 100vh;
    display: flex;
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
#title {
    font-size: xx-large;
    font-weight: 500;
    margin-top: -50px;
    color: #272343;
}
#credits {
    font-size: medium;
    font-weight: 400;
}