button {
    border: none;
    border-radius: 5px;
    background-color: #4c346b;
    color: #ffffff;
    padding: 5px;
}
button:active {
    background-color: #241933;
}
.inputc {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #ffffff;
}
input {
    height: 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.title {
    color: #ffffff;
    font-size: x-large;
    font-weight: 500;
}
.loginf {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #301e4e;  
}
.switch {
    background-color: #ffffff00;
}
.switch:hover {
    background-color: #ffffff00;
    font-weight: 500;
}
.switch:active {
    color: #aaaaaa;
}
#chat {
    width: 100vw;
    height: 100vh;
    display: flex;
}
#chatc{
    width: 25vw;
    display: flex;
    flex-direction: column;
}
#postc{
    width: 75vw;
    display: flex;
    flex-direction: column;
}
#ownerc {
    height: 10vh;
    background-color: #301e4e;
    color: #ffffff;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
#createjoin {
    height: 90vh;
    width: 25vw;
    background-color: #301e4e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 10vh;
}
#buttonc {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#postc {
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#someone {
    height: 10vh;
    background-color: #301e4e;
    color: #ffffff;
    font-size: large;
    display: flex;
    padding: 0px 50px;
    align-items: center;
}
#posts {
    height: 80vh;
    background-color: #f4effc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
#text{
    height: 10vh;
    background-color: #67568c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}